<span class="setBox fullTablebox">
   <div class="top-box">
       <input type="text" name="search-text" class="search-text x-input" value="<{$keyword}>" />
       <span class="min-search-button"  onclick="manage.selectCloudOwners(1)">搜索</span>
   </div>
   <table>
     <thead>
       <tr>
         <th><span>选择</span></th>
         <th><span>货主名称</span></th>
         <th><span>货主编号</span></th>
       </tr>
     </thead>
     <tbody>
     <{if !empty($datas.data.rows)}>   
     <{foreach from=$datas.data.rows item=data name="item"}>
       <tr <{if $ownerCode == $data.id}>class="bkmark"<{/if}>>
         <td width="70">
            <span>
                <input <{if $ownerCode == $data.id}>checked="checked"<{/if}> type="radio" name="cloudData" value="<{$data.id}>" dataName="<{$data.name}>"/>
            </span>
         </td>
         <td><span><{$data.name}></span></td>
         <td><span><{$data.id}></span></td>
       </tr>
      <{/foreach}>
      <{else}>
          <tr>
              <td colspan="3">暂无数据</td>
          </tr>
      <{/if}>
     </tbody>
  </table>  
</span>