<div class="full-screen">
  <header class="hide">
    <div class="a-bar">
      <a href="javascript:history.back()" class="a-back"><i class="arr left"></i>返回</a>
      <div class="a-name">找回密码</div>
    </div>
  </header>
  
  
  <div class="full-padding">
   <form action="<{link app=b2c ctl=wap_passport act=resetpasswordnew }>" method="post" class="form" data-type="ajax">
         <!--公用注册样式-->
         <div class="form-register margin-t-30">
      
          	<div class="code">
          		 <input type="text" name="login_mobile" class="text a-account form-control-code" placeholder="请输入手机号" required="required" maxlength="11" pattern="^1[34578]\d{9}$" autofocus data-caution="手机号不能为空">
            <a href="<{link app=b2c ctl=wap_passport act=send_vcode_sms}>" class="orange ib-btn l-code get-vcode">获取验证码</a>
          	</div>
           <input type="password" name="login_verification" maxlength="20" placeholder="请输入短信验证码" required="required" pattern=".{4,6}" class="f-form-control" data-caution="短信验证码不能为空">
              <input type="password" name="login_password" placeholder="请输入密码" pattern=".{6,20}" maxlength="20" class="text f-form-control " required="required" data-caution="密码不能为空">
              <input type="password" name="psw_confirm" placeholder="再次输入新密码" pattern=".{6,20}" maxlength="20" class="text f-form-control" required="required" data-caution="密码不能为空">
          	<i class="pwd-tips">密码由6~20位字符组成，包含至少两种以上字母、数字、字符，区分大小写</i>
          </div>
        <div class="get-pwd-btn">        	
             <button type="submit" class="get-pwd-btn">确定</button>
        </div> 
    </form>
  </div>
</div>
<script>
$('.form .get-vcode').click(function (e) {
    e.preventDefault();
    var el = $('.form .a-account');
    if($(this).hasClass('disabled')) return false;
    <{if $site_sms_valide == 'true'}>
    var verify = $('.verify-input');
    console.log(verify);
    if(verify[0].value == '')
    {
      alert('请输入验证码');
      return;
    }
    sendVerify(this, 'uname=' + el.val() + '&type=forgot&sms_vcode=' + verify[0].value);
    <{else}>
    sendVerify(this, 'uname=' + el.val() + '&type=forgot');
    <{/if}>
});

function sendVerify(el, data) {
    var url = el.href;
    $(el).addClass('disabled');
    var cd = new countdown(el, {
        start: 120,
        secondOnly: true,
        callback: function(e) {
            $(el).removeClass('disabled').html('重发验证码');
        }
    });
    $.post(url, data, function(rs) {
        if(rs) {
            try{
                rs = $.parseJSON(rs);
            } catch (e) {}
            if(rs.error) {
                $(el).removeClass('disabled').html('获取验证码');
                clearTimeout(cd.timer);
                if(typeof rs.error === 'string') alert(rs.error);
            }
        }
    });
}
</script>
