<div id="main" class="clearfix contract">
	<!-- 履约 -->
	<div class="floor wrap clearfix">

		<div class="floor-side">
			<img width="315px" height="315px" src="/public/files/static/images/lvyue_01.png" />
		</div>
		<div class="floor-main">
			<ul>
				<li class="bg_color_1"><span>合约状态：</span><span>待付定金</span></li>
				<li class="bg_color_2">
					<span>阶段名</span> <span>金额（元）</span> <span>已付款金额</span>
				</li>
				<li class="bg_color_3"><span>定金</span><span>255000×30%</span><span>0.00</span></li>
				<li class="bg_color_4"><span>清关费和税费</span><span>255000×30%</span><span>0.00</span></li>
				<li class="bg_color_3"><span>定金</span><span>255000×30%</span><span>0.00</span></li>
				<li class="bg_color_4"></li>
				<li class="bg_color_3"></li>
				<li>
 
				</li>
			</ul>
		</div>
	</div>
	<!--合约商品列表-->
	<div class="pre-goods">
		<div class="pre-goods-title bg_color_1"><span>合约商品</span></div>

		<div class="pre-goods-list">
			<table>
				<thead>
					<tr>
						<th>商品名称</th>
						<th>商品货号</th>
						<th>商品规格</th>
						<th>单价(元)</th>
						<th>当前库存</th>
						<th>出库数量</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>澳洲肥羊肉</td>
						<td>YPW00660GYS201</td>
						<td>5kg/箱</td>
						<td>500.00</td>
						<td>3000</td>
						<td class="">

							<div class="product-buy-quantity">
								<span class="p-quantity"><a href="javascript:void(0);" class="btn-decrease">-</a><input onkeyup="value=value.replace(/[^\d]/g,'')" type="text" name="goods[num]" id="for_quantity_input" class="action-quantity-input" value="1" min="1" max=""><a href="javascript:void(0);" class="btn-increase">+</a></span>
							包
							</div>
						</td>
					</tr>
					<tr>
						<td>澳洲肥羊肉</td>
						<td>YPW00660GYS201</td>
						<td>5kg/箱</td>
						<td>500.00</td>
						<td>3000</td>
						<td class="">

							<div class="product-buy-quantity">
								<span class="p-quantity"><a href="javascript:void(0);" class="btn-decrease">-</a><input onkeyup="value=value.replace(/[^\d]/g,'')" type="text" name="goods[num]" id="for_quantity_input" class="action-quantity-input" value="1" min="1" max=""><a href="javascript:void(0);" class="btn-increase">+</a></span>
							</div>
						</td>
					</tr>					
				</tbody>
			</table>
			<div class="floor wrap clearfix price-totel">
				 <div>
				 	<span>（255000*30%-0）</span>
				 	<span>+（0-0）</span>
				 	<span>+（0）</span>
				 	<span>+（0）</span>
				 	<span>+（0）</span>
				 	<span>+（0）</span>
				 	<span>+（0）</span>
				 	<span>+（0）</span>				 			 
				 	<p>履约须支付金额：<span>￥70000.00</span></p>
				 </div>	
				 
			</div>
			<div class="floor clearfix pay">
				 <select  class="form-select">
			      <option>--支付方式--</option>
			      <option>--支付方式--</option>
			      <option>--支付方式--</option>
			      <option>--支付方式--</option>		       
			    </select>
			    <img src="/public/files/static/images/btn_03.png"  /> 
			</div>

		</div>
 
<!--合约商品详情-->
<div class="pre-goods-detail">
	
<div class="pre-goods-title bg_color_1"><span>合约详情</span></div>	
<div class="pre-goods-title-02 bg_color_2"><span>合约基本信息</span></div>	
<div class="floor detail">
	 
	<span>合约号：YS080510</span>
	<span>商品总金额；￥255000.00</span>
	<span>合约效期：2018.04.08-2018.08.08</span>
	<span>合约服务内容：采购/金融服务/通关/仓储/城配</span>
	<span>合约结算方式：先付定金，再付清关费和税费，其它通过尾款支付</span>
 
</div>

<table>
	<thead>
		<tr>
			<th>商品名称</th>
			<th>商品货号</th>
			<th>重量(kg)</th>
			<th>计量单位</th>
			<th>商品规格</th>
			<th>商品属性</th>
			<th>原产地</th>
			<th>供应商</th>
			<th>数量</th>
			<th>单价(元)</th>
			<th>仓库</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>澳洲肥羊肉</td>
			<td>YPW00660GYS201</td>
			<td>500</td>
			<td>包</td>
			<td>5kg/箱 </td>
			<td>5kg/箱 </td>
			<td>澳洲XXXX</td>
			<td>三海关食品贸易有限公司</td>
			<td>500</td>
			<td>500.00</td>
			<td>上海仓</td>
		</tr>
		<tr>
			<td>澳洲肥羊肉</td>
			<td>YPW00660GYS201</td>
			<td>500</td>
			<td>包</td>
			<td>5kg/箱 </td>
			<td>5kg/箱 </td>
			<td>澳洲XXXX</td>
			<td>三海关食品贸易有限公司</td>
			<td>500</td>
			<td>500.00</td>
			<td>上海仓</td>
		</tr>		
	</tbody>
</table>
<div class="pre-goods-title-02 bg_color_2"><span>出库条件</span></div>	
<div class="floor detail">
	<span>金额限制：每次出库合约商品总金额不能少于 80000.00元</span>
	<span>数量限制：每次出库合约商品总数量不能少于 ........</span>
 


</div>
</div>
	</div>

	<!--   </div>-->
	
	
</div>