<div class="tableform tableform-tabs">
    <{tabber}>
    <{tab name="中金交易账单列表"|t:'entermembercenter'}>


    <table style="width:100%;background-color:#EEEEEE;" cellpadding="2" cellspacing="0" align="center" border="1" bordercolor="#000000">
        <tbody>
        <tr>
            <td style="text-align:center;">序号</td>
            <td style="text-align:center;">交易编号</td>
            <td style="text-align:center;">交易金额</td>
            <td style="text-align:center;">机构应收</td>
            <td style="text-align:center;">平台应收</td>
            <td style="text-align:center;">服务费</td>
            <td style="text-align:center;">时间</td>
        </tr>
        <{foreach from=$Tx key=key item=item}>
        <{if $key%2==0}>
        <tr style="background-color:#FFFFFF;">
            <{else }>
        <tr style="background-color:#f7f7f7;">
            <{/if}>
            <td style="text-align:center;"><{$key+1}></td>
            <td style="text-align:center;"><{$item.TxSn}></td>
            <td style="text-align:center;"><{$item.TxAmount}></td>
            <td style="text-align:center;"><{$item.InstitutionAmount}></td>
            <td style="text-align:center;"><{$item.PaymentAmount}></td>
            <td style="text-align:center;"><{$item.InstitutionFee}></td>
            <td style="text-align:center;"><{$item.BankNotificationTime}></td>
        </tr>
        <{/foreach}>
        </tbody>
    </table>

    <{/tab}>
    <{/tabber}>
</div>