<div class="tableform">
  <div class="division">
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <th><label><{t}>原产国：<{/t}></label></th>
        <td><{$ginfo.[0].gcountry_of_origin}></td>
        <th><label><{t}>原产地：<{/t}></label></th>
        <td><{$ginfo.[0].gsource_area}></td>
        <th><label>进口资料配备（1）：</label></th>
        <td><{$ginfo.[0].gimport_information_1}></td>
        <th><label><{t}>资料配备（2）：<{/t}></label></th>
        <td><{$ginfo.[0].gimport_information_2}></td>
      </tr>
      <tr>
        <th><label><{t}>资料配备（3）：<{/t}></label></th>
        <td ><{$ginfo.[0].gimport_information_3}></td>
        <th><label><{t}>资料配备（4）：<{/t}></label></th>
        <td><{$ginfo.[0].gimport_information_4}></td>
      </tr>
    </table>
  </div>
</div>
