<div id="main" class="clearfix ">
	<div class="ad-content">
		<div class="ad-title">
			<img src="/public/files/static/images/icon_04.png" /><span>宇培冷链服务</span>
		</div>
		
		<article>
			宇培供应链集团拥有全国30个高标准、现代化的专业冷链园区，提供多温区配置的冷冻，冷藏，恒温、常温等仓储服务，运用科技设备建立智能化的仓储体系，配以精细化的管理流程，全面支持新零售和全渠道销售模式，实现多仓联动，库存共享。
		</article>
		<div class="ad-title">
			<img src="/public/files/static/images/icon_04.png" /><span>宇培合约服务</span>
		</div>
		<article>
			宇培为客户提供全方位合约服务，服务涵盖国际采购、海外仓库、国际物流、清关、干线运输、仓储、城配以及供应链金融服务，旨在帮助客户打通冷链所有环节，让客户无忧销售。
		</article>
		<div class="ad-title">
			<img src="/public/files/static/images/icon_04.png" /><span>展开合作方式</span>
		</div>
		<article>
			线下沟通,快速签约,签约条款转线上：线上支付定金，线上支付分阶段款项，线上合约商品出库,合约结束。
		</article>		
		<div class="ad-title">
			<img src="/public/files/static/images/icon_04.png" /><span>服务热线</span>
		</div>
		<p class="servce-tel">021-3328-3328</p>
		<p class="servce-time">服务时间：周一至周五（09:00-18:30）</p>
	</div>
</div>