<!-- 企业实名认证 -->
<div  class="page-article realNameCertification ">
<div class="panel panel-default">
			  <div class="panel-heading">企业实名认证</div>
			  <div class="panel-body ">
			     <img class="user-img" src="public/images/pcimg/head_img.png">
			     <span class="user-name">Elena</span>
			  </div>
</div>
	




<!--基础信息-->
<div class="panel panel-default">
			  <div class="panel-heading">基础信息</div>
			  <div class="panel-body basic-info">
			       <div>
			       	   <div>
			       	   	 <label><img src="public/images/pcimg/star.png" />公司名字</label>
			       	   	 <input type="text" />
			       	   </div>
			       	   <div>
			       	   	 <label><img />联系人</label>
			       	   	 <input type="text" />			       	   	
			       	   </div>
			       </div>
			     
			     
			     
			     
			  </div>
</div>
<!--基础信息end-->	
</div>

		
