<div class="order-title ">
	<span>最近的订单</span>
	<span><a href="/index.php/member-orders.html">查看所有订单</a></span>
</div> 


<table class="member-grid member-prepare-order">
  <thead> 
    <tr>
      <th><{t}>订单号<{/t}></th>
      <th class="moneyth"><{t}>金额<{/t}></th>
      <th><{t}>下单时间<{/t}></th>
      <th><{t}>订单状态<{/t}></th>
      <th><{t}>支付方式<{/t}></th>
      <th><{t}>操作<{/t}></th>
    </tr>
  </thead>
  <{if $orders}>
  <{foreach from=$orders item=order name=orders key="key"}>
  <tbody class="<{if !$is_orders}>fold<{else}>unfold<{/if}><{if $smarty.foreach.orders.iteration == 1}> first<{/if}>">
    <tr>
      <td class="order" width="28%">
      	<a class="order-num-color" href="<{link app=b2c ctl=site_member act=orderdetail arg0=$order.order_id arg1=$archive}>"><{$order.order_id}></a>
       	<span class="handle action-view-goods"> <{t}><{/t}>
      		<i class="icon arrow-down">&#x36;</i>
      		<i class="icon arrow-up">&#x37;</i></span>
      </td>
      <td class="price"><{$order.cur_amount|cur_odr:$order.currency:false:true}></td>
      <td class="datetime"><{$order.createtime|cdate:FDATE_STIME}></td>
      <td class="status color-02">
        <{switch from=$order.status}>
        <{case value='finish'}><{t}>已完成<{/t}>
        <{case value='dead'}><{t}>已作废<{/t}>
        <{case}>
        <{switch from=$order.pay_status}>
        <{case value='1'}><{t}>已付款<{/t}>
        <{switch from=$order.ship_status}>
        <{case value='1'}><{t}>[已发货]<{/t}>
        <{case value='2'}><{t}>[部分发货]<{/t}>
        <{case value='3'}><{t}>[部分退货]<{/t}>
        <{case value='4'}><{t}>[已退货]<{/t}>
        <{case}><{t}>[正在备货]<{/t}>
        <{/switch}>
        <{case value='6'}><{t}>退款申请中<{/t}>
        <{case value='2'}><{t}>已付款至担保方<{/t}>
        <{case value='3'}>
         <!--普通订单-->
        <{if $order.promotion_type != 'prepare'}>
          <a href="<{link app=b2c ctl=site_paycenter arg0=$order.order_id}>"><{t}>等待补款<{/t}></a>
        <{/if}>
         <!--预售订单-->
        <{if  $order.promotion_type == 'prepare'}>
        <a href="#"><{t}>等待补款<{/t}></a>
        <{/if}>
        <{switch from=$order.ship_status}>
        <{case value='1'}><{t}>[已发货]<{/t}>
        <{case value='2'}><{t}>[部分发货]<{/t}>
        <{case value='3'}><{t}>[部分退货]<{/t}>
        <{case value='4'}><{t}>[已退货]<{/t}>
        <{/switch}>
        <{case value='4'}><{t}>部分退款<{/t}>
        <{switch from=$order.ship_status}>
        <{case value='0'}><{t}>[未发货]<{/t}>
        <{case value='1'}><{t}>[已发货]<{/t}>
        <{case value='2'}><{t}>[部分发货]<{/t}>
        <{case value='3'}><{t}>[部分退货]<{/t}>
        <{case value='4'}><{t}>[已退货]<{/t}>
        <{/switch}>
        <{case value='5'}><{t}>已退款<{/t}>
        <{switch from=$order.ship_status}>
        <{case value='0'}><{t}>[未发货]<{/t}>
        <{case value='1'}><{t}>[已发货]<{/t}>
        <{case value='2'}><{t}>[部分发货]<{/t}>
        <{case value='3'}><{t}>[部分退货]<{/t}>
        <{case value='4'}><{t}>[已退货]<{/t}>
        <{/switch}>
        <{case}>
         <!--普通订单-->
        <{if $order.promotion_type != 'prepare'}>
          <{if $order.payinfo.pay_app_id != '-1'}><a href="<{link app=b2c ctl=site_paycenter arg0=$order.order_id}>"><{/if}><{t}>等待付款<{/t}><{if $order.payinfo.pay_app_id != '-1'}></a><{/if}>
        <{/if}>
        <!--预售订单-->
         <{if $order.promotion_type == 'prepare'}>
          <{if $order.payinfo.pay_app_id != '-1'}><a href="#"><{/if}><{t}>等待付款<{/t}><{if $order.payinfo.pay_app_id != '-1'}></a><{/if}>
        <{/if}>
        <{switch from=$order.ship_status}>
        <{case value='1'}><{t}>[已发货]<{/t}>
        <{case value='2'}><{t}>[部分发货]<{/t}>
        <{case value='3'}><{t}>[部分退货]<{/t}>
        <{case value='4'}><{t}>[已退货]<{/t}>
        <{/switch}>
        <{/switch}>
        <{/switch}>
      </td>
      <td class="payments color-02">
        <{if $order.payinfo.pay_app_id=='period'}>
          <{$order.payinfo.pay_app_id='账期支付'}>
          <{else}>
          <{$order.payinfo.pay_app_id|pay_name}>
        <{/if}>
      </td>
      <td class="actions" valign="top"<{if $is_orders}> rowspan="2"<{/if}>>
        <!--普通订单-->
        <{if $order.status == 'active' && ($order.pay_status=='0' || $order.pay_status=='3') && $order.promotion_type != 'prepare'}>
          <{if $order.payinfo.pay_app_id != '-1' && $order.is_pay==0}>
          <a href="<{link app=b2c ctl=site_paycenter arg0=$order.order_id}>" class="btn btn-import"><span>
          	<span><{t}>去付款<{/t}></span></span></a>
          <{/if}>
          <{if $order.payinfo.pay_app_id != '-1' && $order.is_pay==1}>
          <a href="javascript:void(0);" onclick="js_method()" class="btn btn-grayed"><span><span><{t}>支付结果返回中<{/t}></span></span></a>
          <{/if}>
        <{/if}>

        <!--预售操作状态START-->
        <{if $order.status == 'active' && $order.promotion_type == 'prepare' && $order.prepare.status=='true'}>
          <{switch from=$order.prepareStatus.key}>
            <{case value='wait_y'}>
              <a href="<{link app=b2c ctl=site_paycenter arg0=$order.order_id arg1='false' arg2=$order.prepareStatus.order_fund_id}>" class="btn btn-import"><span><span><{t}>支付预付款<{/t}></span></span></a>
            <{case value='paid_y'}>
              <a class="btn btn-grayed"><span><span><{t}>支付预付款<{/t}></span></span></a>
            <{case value='wait_z'}>
              <a href="<{link app=b2c ctl=site_paycenter arg0=$order.order_id arg1='false' arg2=$order.prepareStatus.order_fund_id}>" class="btn btn-import"><span><span><{t}>支付中期进度款<{/t}></span></span></a>
            <{case value='paid_z'}>
              <a class="btn btn-grayed gray"><span><span><{t}>支付中期进度款<{/t}></span></span></a>
            <{case value='wait_w'}>
              <a href="<{link app=b2c ctl=site_paycenter arg0=$order.order_id arg1='false' arg2=$order.prepareStatus.order_fund_id}>" class="btn btn-import"><span><span><{t}>支付尾款<{/t}></span></span></a>
            <{case value='paid_w'}>
              <a class="btn btn-grayed gray"><span><span><{t}>支付尾款<{/t}></span></span></a>
            <{/switch}>
        <{/if}>
        <!--预售操作状态END-->




        <{if $order.status != 'dead' && $order.status != 'finish' && $order.ship_status =="1" && $order.received_status =='0'}>
        <!--=======================================================================================================================-->
          <a href="javascript:void(0);" class="btn btn-import" onclick="return receive('<{$order.url}>')"><span><span><{t}>确认收货<{/t}></span></span></a>
        <{/if}>
        <{if $order.status != 'dead' && $order.status != 'finish' && $order.ship_status =="2" && $order.received_status =='0'}>
          <a href="javascript:void(0);" class="btn btn-import disabled" onclick="error_show()"><span><span><{t}>确认收货<{/t}></span></span></a>
        <{/if}>
        <!--=======================================================================================================================-->
        
        <i class="separator"></i><a href="<{link app=b2c ctl=site_member act=orderdetail arg0=$order.order_id arg1=$archive}>"><{t}>查看订单<{/t}></a>
        
        <{if $order.pay_status == '1' && $order.ship_status == '0' && $order.cur_amount > 0}>
         <i class="separator"></i><a href="javascript:void(0);" class="action-refund-popup" order_id="<{$order.order_id}>"><{t}>申请退款<{/t}></a>
         <div id="member_refund_popup_<{$order.order_id}>" style="display:none;">
			  <form action='<{link app=b2c ctl="site_member" act="do_refund_apply"}>' class="member-message-box" method="post">
			    <ul>
			      <li class="form-item"><span class="form-label"><{t}>订单号<{/t}>：</span><span class="form-act" style="line-height:2.1em"><{$order.order_id}></span><br /></li>
			      <li class="form-item"><span class="form-label"><{t}>退款原因<{/t}>：</span>
				      <span class="form-act" style="line-height:2.1em">
				        <select name="refund_apply_reason">
                        <option value="">请选择退款理由</option>
                        <{foreach from=$field_refunds_reason item=refunds_reason_text key=refunds_reason_value}>
                        <option value="<{$refunds_reason_value}>"><{$refunds_reason_text}></option>
                        <{/foreach}>
                        </select>&nbsp;*
                      </span><br />
			      </li>
			      <li class="form-item">
			          <span class="form-act"><{t}>友情提示<{/t}>：</span>
				      <span class="form-act">
				            订单全额退款后自动取消将无法恢复，您是否确认要申请退款？
                      </span><br />
			      </li>
			      <li class="form-item">
			         <span class="form-label"></span>
				      <span class="form-act">
				         <button type="submit" class="btn btn-simple action-submit-message" rel="_request"><span><span><{t}>确认申请<{/t}></span></span></button>
				         <button class="btn btn-simple popup-btn-close" type="button"><span><span><{t}>暂不申请<{/t}></span></span></button>
				      </span>
			      </li>
			    </ul>
			    <input type="hidden" name="order_id" value="<{$order.order_id}>"/>
			    <input type="hidden" name="refund_apply_pager_current" value="<{$pager.current}>"/>
			    <input type="hidden" name="refund_apply_pager_pay_status" value="<{$pager_pay_status}>"/>
			  </form>
        </div>
        <{/if}>

        <{if $order.status == 'active' && $order.pay_status == '0' && $order.ship_status == '0' && $order.promotion_type != 'prepare'}>
          <{if $order.is_pay == 0}>
          <i class="separator"></i><a class="btn-cancel" href="<{link app=b2c ctl=site_member act=cancel arg0=$order.order_id arg1=$archive}>"><{t}>取消订单<{/t}></a>
          <{/if}>
        <{else}>
          <{if $order.promotion_type == 'prepare'}>
            <i class="separator"></i><a href="<{link app=b2c ctl=site_product act=index arg0=$order.prepare.product_id}>"><{t}>再次购买<{/t}></a>
          <{else}>
            <i class="separator"></i><a href="<{link app=b2c ctl=site_member act=reAddCart arg0=$order.order_id arg1=$archive}>"><{t}>再次购买<{/t}></a>
          <{/if}>

          <{if $order.status == 'dead'}>
          <i class="separator"></i>
          <a href="javascript:if(confirm('删除以后将不会再看到该订单，是否继续？')) location='<{link app=b2c ctl=site_order act=dodelete arg0=$order.order_id}>'">
            <{t}>删除订单<{/t}></a>
          <{/if}>
        <{/if}>
        <{if $order.is_aftersales == true}>
        <i class="separator"></i><a href="<{link app=aftersales ctl=site_member act=add arg0=$order.order_id}>"><{t}>申请售后服务<{/t}></a>
        <{/if}>


      </td>
    </tr>
    <tr class="goods-row">
      <td colspan="5">
        <ul class="member-piclist">
          <{if $order.goods_items}>
          <{foreach from=$order.goods_items item=item_goods name=goods_item}>
          <!--goods-->
          <{if $item_goods.product}>
          <li class="goods-item">
            <div class="goods-pic" data-tips="<{$item_goods.product.name}>&nbsp;<{if $item_goods.product.attr}><{$item_goods.product.attr|spec_desc}><{/if}>&nbsp;<{$item_goods.product.quantity}>">
              <a href="<{$item_goods.product.link_url}>"><img src="<{$item_goods.product.thumbnail_pic|default:$env.conf.site.default_thumbnail_pic|storager:'s'}>" alt="<{$item_goods.product.name}>&nbsp;<{$item_goods.product.attr}>" data-img-zoom="true"></a>
            </div>
          </li>
          <{/if}>

          <!--adjunct-->
          <{if $item_goods.adjunct_items}>
          <{foreach from=$item_goods.adjunct_items item=item_adjunct name=adjunct_item}>
          <li class="goods-item">
            <div class="goods-pic" data-tips="<{$item_adjunct.name}><{if $item_adjunct.attr}>&nbsp;<{$item_adjunct.attr}><{/if}>&nbsp;<{$item_adjunct.quantity}>">
              <span class="label-important"><{t}>配<{/t}></span>
              <a href="<{link app=b2c ctl=site_product act=index arg0=$item_adjunct.products.product_id}>"><img src="<{$item_adjunct.thumbnail_pic|default:$env.conf.site.default_thumbnail_pic|storager:'s'}>" alt="<{$item_adjunct.name}> <{$item_adjunct.attr}>" data-img-zoom="true"></a>
            </div>
          </li>
          <{/foreach}>
          <{/if}>

          <!--gift-->
          <{if $item_goods.gift_items}>
          <{foreach from=$item_goods.gift_items item=item_gift name=gift_item}>
          <li class="goods-item">
            <div class="goods-pic" data-tips="<{$item_gift.name}>&nbsp;<{if $item_gift.attr}><{$item_gift.attr}><{/if}>&nbsp;<{$item_gift.quantity}>">
              <span class="label-important"><{t}>赠<{/t}></span>
              <a href="<{$item_gift.link_url}>"><img src="<{$item_gift.thumbnail_pic|default:$env.conf.site.default_thumbnail_pic|storager:'s'}>" alt="<{$item_adjunct.name}> <{$item_adjunct.attr}>" data-img-zoom="true"></a>
            </div>
          </li>
          <{/foreach}>
          <{/if}>
          <{/foreach}>
          <{/if}>
          <!-- gift -->
          <{if $order.order.gift_items}>
          <{foreach from=$order.order.gift_items item=item_gift name=gift_item}>
          <li class="goods-item">
            <div class="goods-pic" data-tips="<{$item_gift.name}>&nbsp;<{if $item_gift.attr}><{$item_gift.attr}><{/if}>&nbsp;<{$item_gift.quantity}>">
              <span class="label-important"><{t}>赠<{/t}></span>
              <a href="<{$item_gift.link_url}>"><img src="<{$item_gift.thumbnail_pic|default:$env.conf.site.default_thumbnail_pic|storager:'s'}>" alt="<{$item_adjunct.name}> <{$item_adjunct.attr}>" data-img-zoom="true"></a>
            </div>
          </li>
          <{/foreach}>
          <{/if}>
          <{if $order.gift.gift_items}>
          <{foreach from=$order.gift.gift_items item=item_gift name=gift_item}>
          <li class="goods-item">
            <div class="goods-pic" data-tips="<{$item_gift.name}>&nbsp;<{if $item_gift.attr}><{$item_gift.attr}><{/if}>&nbsp;<{$item_gift.quantity}>">
              <span class="label-important"><{t}>赠<{/t}></span>
              <a href="<{$item_gift.link_url}>"><img src="<{$item_gift.thumbnail_pic|default:$env.conf.site.default_thumbnail_pic|storager:'s'}>" alt="<{$item_adjunct.name}> <{$item_adjunct.attr}>" data-img-zoom="true"></a>
            </div>
          </li>
          <{/foreach}>
          <{/if}>

          <!-- extends -->
          <{if $order.extends_items}>
          <{foreach from=$order.extends_items item=item_extends name=item_extends}>
          <{$item_extends}>
          <{/foreach}>
          <{/if}>
        </ul>
      </td>
    </tr>

    <!--预售订单,新增款项-->
    <{if  $order.promotion_type == 'prepare' && !empty($order.prepare_fund)}>
    <tr>
      <td colspan="6" class="fundbox-td">
        <div class="fundbox">
          <table>
          <thead>
            <tr>
              <th class="fund-name" width="28%"><{t}>款项名称<{/t}></th>
              <th width="10%"><{t}>付款金额<{/t}></th>
              <th width="23%"><{t}>支付开始时间<{/t}></th>
              <th><{t}>支付结束时间<{/t}></th>
              <th><{t}>启用状态<{/t}></th>
              <th width="150"><{t}>支付剩余时间<{/t}></th>
            </tr>
          </thead>
          <tbody>
            <{foreach from=$order.prepare_fund item=fund key=fundkey}>
            <tr>
              <td class="fund-name"><{$fund.fund_name_format}></td>
              <td class="fund-price"><{$fund.payment|cur_odr}></td>
              <td><{$fund.begin_time_format}></td>
              <td><{$fund.end_time_format}></td>
              <td><{$fund.status_format}></td>
              <td>
                  <{if $fund.status == 'true' && $fund.end_time >= $nowtime }>
                  <div class="leftTime-box" id="dateShow<{$key . $fundkey}>" data-date="<{$fund.end_time_format_left}>">
                    <span class="date-tiem d">00</span>天
                    <span class="date-tiem h">00</span>时
                    <span class="date-tiem m">00</span>分
                    <span class="date-s s">00</span>秒
                  </div>
                  <{/if}>
              </td>
            </tr>
            <{/foreach}>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
<{/if}>
<!-- 预售订单新增款项END -->

  </tbody>
  <{/foreach}>
  <{else}>
  <tbody class="first">
    <tr class="no-information"><td colspan="6">暂无订单</td></tr>
  </tbody>
  <{/if}>
</table>

<script>
function receive(url){
  var pingRequest = new Request({ 
    method: "post", 
    url:    url, 
    onSuccess:  function(rs){
      rs = JSON.decode(rs);
      if(rs){
        if(rs.error){
          Dialog.alert(rs.error);
          return false;
        }else{
          Dialog.alert(rs.success, {
            onClose: function() {
              location.reload();
            }
          });
          return true;
        }
      }else{
        return false;
      }
    }
    }); 
  pingRequest.send("url="+ url);
}
function error_show(){
  Dialog.alert("亲，您的商品还没发完呢");
}

$(document.body).addEvents({
	'click:relay(.action-refund-popup)': function (e) {
		var order_id = this.getAttribute("order_id");
        var dialog = new Dialog($('member_refund_popup_'+order_id).wrapped(), {
            width: 450,
            height: 290,
            title: '退款申请',
            modal: true,
        });
    },
});
</script>
<script src="/public/app/site/statics/js/leftTime.js"></script>
<script>
j(function(){
  j('.moneyth').text('总金额');//显示总金额

  //日期倒计时,现在距离下面的日期
  if(j('.leftTime-box').length){
    var data_show = j('.leftTime-box');
    j(data_show).each(function(){
      showLefTime(j(this).data("date"), '#' + j(this).attr("id"));
    });
  }

  function showLefTime(time,obj) {
    j.leftTime(time,function(d){
      if(d.status){
        var leftTimeBox=j(obj);
        leftTimeBox.find(".d").html(d.d);
        leftTimeBox.find(".h").html(d.h);
        leftTimeBox.find(".m").html(d.m);
        leftTimeBox.find(".s").html(d.s);
      }
    });
  }
});

</script>
