<div id="main" class="clearfix">
   <div class="preparesell-ban">
   	  <img src="/public/images/pcimg/banner_ps.png" />
   	  <div class="ps-service">
   	  	<img src="/public/images/pcimg/home_01.png" />
   	  </div>
   </div> 
  
	<!-- 商品列表开始 -->
	<div class="page-maincontent preparesell-main">

		<div class="auto-bind-widget" data-widget-type="Tabs" data-widget-config="{
          eventType:'mouse'
        }">
		 
				<ul class="switchable-triggerBox clearfix">
					<li class="switchable-trigger active"><em>预售-进行中</em> </li>
					<li class="switchable-trigger "><em>预售-即将进行</em> </li>
				</ul>
			<div class="switchable-panel">
				<ul class="ps-goods-list">
                 <{foreach from=$under_way item=goodsdata name="item" key=goodskey}>
					<li class="ps-goods-item clearfix">
						 <div class="goods-left">
						 	<img src="<{$goodsdata.image_default_id|default:$imageDefault.S.default_image|storager:'m'}>" />
						 </div>
						 <div class="goods-right">
						 	 <p class="goods-title"><{$goodsdata.products.name}></p>
						 	 <span class="goods-num-01">预售量： <em><{$goodsdata.products.prepare_num}></em> 箱  </span>
						 	 <span class="goods-num-02" >已预订：<em><{$goodsdata.buy_num}></em>箱</span>
                        <{if $goodsdata.time >= $nowtime }>
						 	 <span class="ps-time">剩余时间： <div class="leftTime-box" id="dateShow<{$goodsdata.prepare_id}>" data-date="<{$goodsdata.time}>">
                             <span class="date-tiem d">00</span>天
                             <span class="date-tiem h">00</span>时
                              <span class="date-tiem m">00</span>分
                             <span class="date-s s">00</span>秒
                          </div>
                             </span>
                        <{/if}>
						 	 <div class="btn-div">
						 	 <span class="ps-price">
						 	 	<{if $goodsdata.products.sales_price > 0}>
						 	 		<{$goodsdata.products.sales_price|cur_odr:$order_detail.currency}>/<em class="">500g</em>
						 	 	<{else}>
						 	 		<{$goodsdata.products.price|cur_odr:$order_detail.currency}>/<em class=""><{$goodsdata.products.unit}></em>
						 	 	<{/if}>
						 	 </span>
						 	  <span class="ps-join"><a href="<{link app=b2c ctl=site_product act=index arg0=$goodsdata.products.product_id arg1=$goodsdata.products.preparesell_typeid}>">立即参加</a> </span>
						 	 </div>
						 </div>
               
					</li>
			  <{/foreach}>
				</ul>
			</div>
			<div class="switchable-panel" style="display: none;">
				<ul class="ps-goods-list">
                 <{foreach from=$forthcoming item=goodsdata name="item" key=goodsskey}>
					<li class="ps-goods-item clearfix">
						 <div class="goods-left">
						 	<img src="<{$goodsdata.image_default_id|default:$imageDefault.S.default_image|storager:'m'}>" />
						 </div>
						 
						 <div class="goods-right">
						 	 <p class="goods-title"><{$goodsdata.name}></p>
						 	 <span class="goods-num-01">预售量： <em><{$goodsdata.products.prepare_num}></em> 箱  </span>
						 	  
						 	 <span class="ps-time">开启时间：<div class="leftTime-box" id="dateShow<{$goodsdata.prepare_id}>" data-date="<{$goodsdata.starttime}>">
                             <span class="date-tiem d">00</span>天
                             <span class="date-tiem h">00</span>时
                              <span class="date-tiem m">00</span>分
                             <span class="date-s s">00</span>秒
                          </div></span>
						 	  <div class="btn-div-02">
						 	    <span class="ps-price">
						 	    	<{if $goodsdata.products.sales_price > 0}>
						 	    		<{$goodsdata.products.sales_price|cur_odr:$order_detail.currency}>/<em class="">500g</em>
						 	    	<{else}>
						 	    		<{$goodsdata.products.price|cur_odr:$order_detail.currency}>/<em class=""><{$goodsdata.products.unit}></em>
						 	    	<{/if}>
						 	    </span>
						 	     <span class="ps-join"><a href="<{link app=b2c ctl=site_product act=index arg0=$goodsdata.products.product_id arg1=$goodsdata.products.preparesell_typeid}>">了解详情</a> </span>
						 	  </div>
						 </div>
                  <{/foreach}>
					</li>

				</ul>
			</div>
		</div>

	 
	</div>
</div>
<script src="/public/app/site/statics/js/leftTime.js"></script>
<script>
//时间倒计时	
j(function(){
    j(".preparesell-main").parent().parent(".inner-wrap").css("width","100%");		
  //日期倒计时,现在距离下面的日期
  if(j('.leftTime-box').length){
    var data_show = j('.leftTime-box');
    j(data_show).each(function(){
      showLefTime(j(this).data("date"), '#' + j(this).attr("id"));
    });
  }
  function showLefTime(time,obj) {
    j.leftTime(time,function(d){
      if(d.status){
        var leftTimeBox=j(obj);
        leftTimeBox.find(".d").html(d.d);
        leftTimeBox.find(".h").html(d.h);
        leftTimeBox.find(".m").html(d.m);
        leftTimeBox.find(".s").html(d.s);
      }
    });
  }
});

</script>
<{assign var='imageset' value=$env.conf.image.image.set}>
	<script>
		
	 j(".preparesell-main").parent().parent(".inner-wrap").css("width","100%");
	 
	 
		var Router = {
			'filter': {
				query: '<{link app=preparesell ctl=site_preparesell act=ajax_get_goods}>'
			},
			'subscribe': {
				query: '<{link app=preparesell ctl=site_preparesell act=ajax_remind_save}>'
			}
		};

		var Query = function(url, data, update, options) {
			var self = this;
			this.update = function(url, data, update, options) {
				options = Object.merge({
					url: url,
					link: 'ignore',
					update: update
				}, options || {});
				if(update) new Request.HTML(options).post(data);
				else new Request(options).post(data);
			};
			this.subscribe = function(data, fn) {
				var url = Router.subscribe.query;
				self.update(url, data, null, {
					onSuccess: function(rs) {
						if(rs) {
							fn && fn(rs);
						}
					}
				})
			};
			this.filter = function(data, fn) {
				var url = Router.filter.query;
				// var mask = new Mask({
				//     width: '100%',
				//     height: '100%',
				//     'class': 'mini-mask',
				//     'html': '<span class="mask-loading"></span>',
				//     'effect': false,
				//     position: true,
				//     pins: true
				// });
				// if(Browser.ie) {
				//     mask.element.setStyle('background-color', Browser.version == 9 ? 'rgba(255,255,255,0.1)' : '');
				// }
				self.update(url, data, Module.groupbuy.show, {
					onRequest: function() {
						//     mask.show();
					},
					onSuccess: function(rs) {
						// mask.hide();
						new DataLazyLoad({
							img: 'data-src',
							lazyDataType: 'img',
							onAfter: function(img) {
								if(Browser.ie6) fixImageSize(img);
							}
						});
						autoGridLayout(Module.groupbuy.show.getElements('.groupbuy-grid .goods-item'));
						updateNum();
						miniCart.init();
						fn && fn(rs);
					}
				});
			};
			this.addtocart = function(url, data, target) {
				var form = $('_addtocart_submitform') || new Element('form#_addtocart_submitform', {
					action: url,
					method: 'post',
					target: target,
					style: 'display:none'
				}).inject(document.body);
				var formElements = Array.from(data).invoke('clone', false);
				form.empty().adopt(formElements).submit();
			};
		};

		Query = new Query;

		// Module = new Module('groupbuy', ['sortbar', 'show', 'upcoming']);

		Module('groupbuy', ['sortbar', 'show', 'upcoming']).addEvents({
			'click:relay(.action-sort)': function(e) {
				e.preventDefault();
				toggleOrderby(this);
				if(!this.hasClass('active') || this.match('[class*=price-]')) {
					Query.filter(getData());
				}
				toggleActive(this);
			},
			'change:relay(.action-orderby)': function(e) {
				var sort = Module.elements('groupbuy.sortbar', '.action-sort');
				var hl = sort.every(function(s) {
					var sortby = s.get('data-sort');
					var order = this.value;
					if(order.indexOf('price ') === 0 && sortby.indexOf('price ') === 0) {
						if(order !== sortby) {
							toggleOrderby(s, false);
						}
						return false;
					}
					if(order == sortby) {
						return false;
					}
					return true;
				}, this);
				Query.filter(getData());
			},
			'click:relay(.action-showmode)': function(e) {
				e.preventDefault();
				if(this.hasClass('active')) return;
				toggleActive(this);
				Module.element('groupbuy.sortbar', 'input[name=showtype]').value = this.get('data-show-type');
				Query.filter(getData());
			},
			'change:relay(.action-gtags,.action-available)': function(e) {
				Query.filter(getData());
			},
			'click:relay(a.flip:not(.over))': function(e) {
				e.preventDefault();
				var self = this;
				Query.filter(getData(this), function(e) {
					self.getSiblings('.over').removeClass('over');
					var page = getFlipPage();
					var parent = self.getParent();
					if(page <= 1) parent.getElement('.prev').addClass('over');
					else if(page >= getPage().total) parent.getElement('.next').addClass('over');
				});
			},
			'mouseenter:relay(.groupbuy-grid .goods-item)': function(e) {
				this.addClass('hover');
			},
			'mouseleave:relay(.groupbuy-grid .goods-item)': function(e) {
				this.removeClass('hover');
			},
			'click:relay(.action-addtocart)': function(e) {
				if(this.target != '_dialog_minicart') {
					var item = this.getParent('.goods-item');
					var num = item.getElement('.action-quantity-input');
					if(!num) return;
					var ginfo = {
						gid: item.getElement('[name="goods[goods_id]"]').value,
						pid: item.getElement('[name="goods[product_id]"]').value,
						num: num.value
					}
					var url = '<{link app=b2c ctl=site_cart act=add arg0=goods arg1="{gid}" arg2="{pid}" arg3="{num}"}>';
					this.href = url.substitute(ginfo);

					// Query.addtocart(this.href, data, this.target);
				}
			},
			'click:relay(.action-notify)': function(e) {
				var id = this.get('rel').split('::');
				var dialog = new Dialog($('product_notify').wrapped(), {
					title: '到货通知',
					width: 400,
					modal: {
						'class': 'cover'
					},
					onLoad: function() {
						var content = this.content;
						var holder = content.getElements('input[type=hidden]');
						var handle = content.getElement('[rel=_request]');
						holder[0].value = id[0];
						holder[1].value = id[1];
						handle && handle.store('_ajax_config', {
							onSuccess: function(rs) {
								if(rs && rs[0]) {
									if(rs[0]['true']) {
										content.getElement('.product-notify').innerHTML = '<div class="success">联系方式已经成功提交，到货后会立刻通知您。</div>';
										dialog.hide.delay(3000, dialog);
									}
								}
							}
						});
					}
				});
			},
			'mouseenter:relay(.goods-item)': function(e) {
				this.addClass('hover');
				Placeholder.show(this.getElement('.goods-actions input'));
			},
			'mouseleave:relay(.goods-item)': function(e) {
				this.removeClass('hover');
				Placeholder.hide(this.getElement('.goods-actions input'));
			},
			'click:relay(.action-subscribe)': function(e) {
				var input = this.getPrevious('input');
				if(!validate(input)) return false;
				Query.subscribe(input.getParent().toQueryString(), function(rs) {
					rs = JSON.decode(rs);
					if(rs.error) {
						if(rs.error == "您已经订阅过") {
							Message.error(rs.error)
							input.value = '';
							return;
						} else {
							input.value = '';
							validate(input);
							return;
						}
					}
					Message.success(rs.msg);
					this.disabled = true;
					input.addClass('disabled');
				})
			}
		});

		function getData(el) {
			var cat = 'type_id=<{$filter.type_id}>';
			var vcat = 'virtual_cat_id=<{$filter.virtual_cat_id}>';
			var filter = [cat, vcat];
			var param = location.search;
			if(param) {
				param = param.split('?')[1];
				filter.push(param);
			}
			var page;
			if(el) page = 'page=' + getFlipPage(el);
			var data = filter.concat(decodeURI(Module.groupbuy.sortbar.toQueryString()), page);
			data = data.join('&').replace(/-/g, '[]=');
			return data;
		}

		//延迟加载图片
		new DataLazyLoad({
			img: 'data-src',
			lazyDataType: 'img',
			onAfter: function(img) {
				//ie6下缩放图片
				if(Browser.ie6) {
					fixImageSize(img);
				}
			}
		});

		Module = new Module('groupbuy', ['sortbar', 'show', 'upcoming']);

		//列表固定宽度计算每列外边距
		autoGridLayout(Module.elements('groupbuy.show', '.groupbuy-grid .goods-item'));
		autoGridLayout(Module.elements('groupbuy.upcoming', '.goods-item'), null, false);

		function getFlipPage(el) {
			var page = getPage().current;
			if(el) {
				if(el.hasClass('next')) page += 1;
				else if(el.hasClass('prev')) page -= 1;
				else page = el.get('text');
			}
			return page;
		}

		function getPage() {
			var pagedata = {};
			var pagelimit = '<{$pageLimit|default:20}>';
			try {
				pagedata = JSON.decode(Module.groupbuy.show.getElement('.action-pagedata').value) || {};
			} catch(e) {}
			return {
				sum: pagedata.total || 0,
				current: pagedata.pagecurrent || 1,
				total: pagedata.pagetotal || 1
			};
		}

		function updateNum() {
			var page = getPage();
			Module.element('groupbuy.sortbar', '.page-current').innerHTML = page.current;
			Module.element('groupbuy.sortbar', '.page-total').innerHTML = page.total;
			var prev = Module.element('groupbuy.sortbar', '.page-action .prev');
			var next = Module.element('groupbuy.sortbar', '.page-action .next');
			if(page.total == 1) {
				prev.addClass('over');
				next.addClass('over');
			} else if(page.total > 1) {
				next.removeClass('over');
				if(page.total == page.current) {
					prev.removeClass('over');
					next.addClass('over');
				} else {
					if(page.current == 1) {
						prev.addClass('over');
					} else {
						prev.removeClass('over');
					}
					next.removeClass('over');
				}
			}
		}

		function hideDropdown(el) {
			el.removeClass('current');
		}

		function toggleText(el, attr) {
			attr = attr || 'data-toggle';
			var a = el.get(attr);
			var b = el.get('text');
			el.set(attr, b).set('text', a);
		}

		function toggleActive(el, cls) {
			if(!el) return;
			cls = cls || 'active';
			el.addClass(cls).getSiblings('.' + cls).removeClass(cls);
		}

		function toggleOrderby(el, set) {
			// if(el.hasClass('active')) return;
			var hidden = Module.element('groupbuy.sortbar', '.action-orderby');
			var sort = '';
			if(el.hasClass('price-desc')) {
				el.swapClass('price-desc', 'price-asc');
				sort = 'price asc';
				el.set('data-sort', sort);
			} else if(el.hasClass('price-asc')) {
				el.swapClass('price-asc', 'price-desc');
				sort = 'price desc';
				el.set('data-sort', sort);
			} else {
				sort = el.get('data-sort');
			}
			if(set !== false) hidden.value = sort;
		}
	</script>