<div class="full-screen">
 <!--  <header>
    <div class="a-bar">
      <a href="javascript:history.back()" class="a-back"><i class="arr left"></i>返回</a>
      <div class="a-name">修改密码</div>
    </div>
  </header> -->
  <div class="full-padding">
    <form action="<{link app=b2c ctl='wap_member' full='1' act='save_security'}>" method="post" class="form" data-type="ajax">
    <input name="forward" type="hidden" value="<{$options.url}>">
      <div class="form-register">
        <div class="ccc">
          <input type="password" name="old_passwd" maxlength="20" placeholder="请输入旧密码" required="required"  class="f-form-control" data-caution="旧密码不能为空">
        </div>
        <div class="ccc" style="padding-top: 10px;">
          <input type="password" name="passwd" maxlength="20" placeholder="请输入新密码（6-20位数字/字母组合）" required="required" pattern=".{6,20}" class="f-form-control" data-caution="密码不能为空">
        </div>
        <div class="ccc" style="padding-top: 10px;">
          <input type="password" name="passwd_re" maxlength="20" placeholder="请再次输入密码（6-20位数字/字母组合）" required="required" pattern=".{6,20}" class="f-form-control" data-caution="确认密码不能为空">
        </div>
      </div>
      <div class="notice"></div>
      <div class="user-register-btn-02">
        <button type="submit" class=" user-register-btn-02" rel="_request">提交</button>
      </div>
    </form>
  </div>
</div>
