<{css src="time-axis.css" app="wap"}>
<{css src="mobile.css" app="wap"}>
<!--取消、退款详情-->
<div class="full-screen">
    <header>
    <div class="a-bar">
        <a href="javascript:history.back()" class="a-back">
            <i class="arr left"></i>
            返回
        </a>
        <div class="a-name">
            退款详情
        </div>
    </div>
    </header>
    <div id="refund-box">
    <div class="refund-info">
    	 <p><b>取消进度:</b><i>已取消</i></p>
    	 <p><b>订单编号:</b>1814564541561541</p>
    	 
    </div>
    
<!--  进度跟踪：  -->
  <div class="order-progress-box"> 
  	<p class="progress-title">进度跟踪：</p>
  	
<div class="yp-time-steps yp-time-steps-vertical">
			<div class="yp-time-steps-item yp-time-steps-status-wait" style="width: 100%;">
				<div class="yp-time-steps-tail"><i></i></div>
				<div class="yp-time-steps-head">
					<div class="yp-time-steps-head-inner">
						<span class="yp-time-steps-icon yp-time-icon yp-time-icon-ios-checkmark2"></span>
					
					</div>
				</div>
				<div class="yp-time-steps-main">
					<div class="yp-time-steps-title">待进行</div>
					<div class="yp-time-steps-content">这里是该步骤的描述信息</div>
				</div>
			</div>
 
		<div class="yp-time-steps-item yp-time-steps-status-finish" style="width: 100%;">
				<div class="yp-time-steps-tail"><i></i></div>
				<div class="yp-time-steps-head">
					<div class="yp-time-steps-head-inner">
						<span class="yp-time-steps-icon yp-time-icon yp-time-icon-ios-checkmark"></span></div>
				</div>
				<div class="yp-time-steps-main">
					<div class="yp-time-steps-title">已完成</div>
					<div class="yp-time-steps-content">这里是该步骤的描述信息</div>
				</div>
			</div>
			<div class="yp-time-steps-item yp-time-steps-status-finish" style="width: 100%;">
				<div class="yp-time-steps-tail"><i></i></div>
				<div class="yp-time-steps-head">
					<div class="yp-time-steps-head-inner">
						<span class="yp-time-steps-icon yp-time-icon yp-time-icon-ios-checkmark"></span></div>
				</div>
				<div class="yp-time-steps-main">
					<div class="yp-time-steps-title">已完成</div>
					<div class="yp-time-steps-content">这里是该步骤的描述信息</div>
				</div>
			</div>			
 
		</div>    
</div> 


<!--进度跟end-->

</div>    
    
</div>
<script>
 
</script>
