 <{css src="mui/mui.min.css" app="wap" }>
<div class="full-screen">
    <header>
    <div class="a-bar">
        <a href="javascript:history.back()" class="a-back">
            <i class="arr left"></i>
            返回
        </a>
        <div class="a-name">
            我的订单
        </div>
    </div>
    </header>
 
<div class="top-box">
      <div class="common-search-box" onclick="location.href='/wap/search-searchpage.html'">
          <i class="icon iconfont icon-search"></i>
          <div class="search-ele">请搜索您感兴趣的商品</div>
      </div>
</div>    	
<!-- 切换 tab-->
 <div class="my-member-orders">
 
		<div class="order-tab-box">
			<div id="segmentedControl" class="mui-segmented-control">
				<a class="mui-control-item mui-active" href="#item4">
					<span>待付款</span>
					<i>3</i>
				</a>
				<a class="mui-control-item" href="#item5">
					<span>待收货</span>
					<i>13</i>
				</a>
				<a class="mui-control-item" href="#item3">
					<span>全部订单</span>
				</a>
			</div>
		</div>
		
		
		<div class="order-tab-content">
			<div id="item4" class="mui-control-content mui-active">
				<ul class="order-list-01">
					<li class="order-list-01">
						<ul class="order-list-02">
							<li class="li-01">
								<p>订单号:<em>181205554654541</em></p>
							</li>
							<li class="li-02">
								<div class="pt-table-01">
									<div class="cell-item-01">
										<p class="order-state">状态：<em>未付款</em></p>
										<p class="order-sum">总价：<em>￥12500.00</em></p>
									</div>
									<div class="cell-item-02">
							 
										<a>去支付</a>
									</div>
								</div>
							</li>
							<li class="li-03">
								<div class="goods-img">
									<img src="/public/images/ydimg/goods.png" />
								</div>
								<div class="order-goods-detail">
									<p class="goods-title">澳洲JD谷饲150天安格斯保乐肩牛前胸肉格斯保乐肩牛前胸肉</p>
									<p class="origin">产地：加拿大</p>
									<span class="unit-price">￥<em>1530.00</em>／500g</span>
									<span class="number">×50</span>
								</div>
								<div style="clear: both;"></div>
							</li>
							<li class="li-03">
								<div class="goods-img">
									<img src="/public/images/ydimg/goods.png" />
								</div>
								<div class="order-goods-detail">
									<p class="goods-title">澳洲JD谷饲150天安格斯保乐肩牛前胸肉格斯保乐肩牛前胸肉</p>
									<p class="origin">产地：加拿大</p>
									<span class="unit-price">￥<em>1530.00</em>／500g</span>
									<span class="number">×50</span>
								</div>
								<div style="clear: both;"></div>
							</li>							
							<li class="li-03">
								<div class="goods-img">
									<img src="/public/images/ydimg/goods.png" />
								</div>
								<div class="order-goods-detail">
									<p class="goods-title">澳洲JD谷饲150天安格斯保乐肩牛前胸肉格斯保乐肩牛前胸肉</p>
									<p class="origin">产地：加拿大</p>
									<span class="unit-price">￥<em>1530.00</em>／500g</span>
									<span class="number">×50</span>
								</div>
								<div style="clear: both;"></div>
							</li>							
						</ul>
						
						
					</li>
 					<li class="order-list-01">
						<ul class="order-list-02">
							<li class="li-01">
								<p>订单号:<em>181205554654541</em></p>
							</li>
							<li class="li-02">
								<div class="pt-table-01">
									<div class="cell-item-01">
										<p class="order-state">状态：<em>未付款</em></p>
										<p class="order-sum">总价：<em>￥12500.00</em></p>
									</div>
									<div class="cell-item-02">
							 
										<a>去支付</a>
									</div>
								</div>
							</li>
							<li class="li-03">
								<div class="goods-img">
									<img src="/public/images/ydimg/goods.png" />
								</div>
								<div class="order-goods-detail">
									<p class="goods-title">澳洲JD谷饲150天安格斯保乐肩牛前胸肉格斯保乐肩牛前胸肉</p>
									<p class="origin">产地：加拿大</p>
									<span class="unit-price">￥<em>1530.00</em>／500g</span>
									<span class="number">×50</span>
								</div>
								<div style="clear: both;"></div>
							</li>
							<li class="li-03">
								<div class="goods-img">
									<img src="/public/images/ydimg/goods.png" />
								</div>
								<div class="order-goods-detail">
									<p class="goods-title">澳洲JD谷饲150天安格斯保乐肩牛前胸肉格斯保乐肩牛前胸肉</p>
									<p class="origin">产地：加拿大</p>
									<span class="unit-price">￥<em>1530.00</em>／500g</span>
									<span class="number">×50</span>
								</div>
								<div style="clear: both;"></div>
							</li>							
							<li class="li-03">
								<div class="goods-img">
									<img src="/public/images/ydimg/goods.png" />
								</div>
								<div class="order-goods-detail">
									<p class="goods-title">澳洲JD谷饲150天安格斯保乐肩牛前胸肉格斯保乐肩牛前胸肉</p>
									<p class="origin">产地：加拿大</p>
									<span class="unit-price">￥<em>1530.00</em>／500g</span>
									<span class="number">×50</span>
								</div>
								<div style="clear: both;"></div>
							</li>							
						</ul>												
					</li>					 
					
				</ul>

			</div>
			<div id="item5" class="mui-control-content">
				<ul class="order-list-01">
					<li class="order-list-01">
						<ul class="order-list-02">
							<li class="li-01">
								<p>订单号:<em>181205554654541</em></p>
							</li>
							<li class="li-02">
								<div class="pt-table-01">
									<div class="cell-item-01">
										<p class="order-state">状态：<em>配送中</em></p>
										<p class="order-sum">总价：<em>￥12500.00</em></p>
									</div>
									<div class="cell-item-02">
										<a>再次购买</a>
										<a>确定收货</a>
									</div>
								</div>
							</li>
							<li class="li-03">
								<div class="goods-img">
									<img src="/public/images/ydimg/goods.png" />
								</div>
								<div class="order-goods-detail">
									<p class="goods-title">澳洲JD谷饲150天安格斯保乐肩牛前胸肉格斯保乐肩牛前胸肉</p>
									<p class="origin">产地：加拿大</p>
									<span class="unit-price">￥<em>1530.00</em>／500g</span>
									<span class="number">×50</span>
								</div>
								<div style="clear: both;"></div>
							</li>
							<li class="li-03">
								<div class="goods-img">
									<img src="/public/images/ydimg/goods.png" />
								</div>
								<div class="order-goods-detail">
									<p class="goods-title">澳洲JD谷饲150天安格斯保乐肩牛前胸肉格斯保乐肩牛前胸肉</p>
									<p class="origin">产地：加拿大</p>
									<span class="unit-price">￥<em>1530.00</em>／500g</span>
									<span class="number">×50</span>
								</div>
								<div style="clear: both;"></div>
							</li>							
							<li class="li-03">
								<div class="goods-img">
									<img src="/public/images/ydimg/goods.png" />
								</div>
								<div class="order-goods-detail">
									<p class="goods-title">澳洲JD谷饲150天安格斯保乐肩牛前胸肉格斯保乐肩牛前胸肉</p>
									<p class="origin">产地：加拿大</p>
									<span class="unit-price">￥<em>1530.00</em>／500g</span>
									<span class="number">×50</span>
								</div>
								<div style="clear: both;"></div>
							</li>							
						</ul>
						
						
					</li>
 					 
					
				</ul>
			</div>
			<div id="item3" class="mui-control-content">
				<ul class="order-list-01">
					<li class="order-list-01">
						<ul class="order-list-02">
							<li class="li-01">
								<p>订单号:<em>181205554654541</em></p>
							</li>
							<li class="li-02">
								<div class="pt-table-01">
									<div class="cell-item-01">
										<p class="order-state">状态：<em>配送中</em></p>
										<p class="order-sum">总价：<em>￥12500.00</em></p>
									</div>
									<div class="cell-item-02">
										<a>再次购买</a>
										<a>确定收货</a>
									</div>
								</div>
							</li>
							<li class="li-03">
								<div class="goods-img">
									<img src="/public/images/ydimg/goods.png" />
								</div>
								<div class="order-goods-detail">
									<p class="goods-title">澳洲JD谷饲150天安格斯保乐肩牛前胸肉格斯保乐肩牛前胸肉</p>
									<p class="origin">产地：加拿大</p>
									<span class="unit-price">￥<em>1530.00</em>／500g</span>
									<span class="number">×50</span>
								</div>
								<div style="clear: both;"></div>
							</li>
							<li class="li-03">
								<div class="goods-img">
									<img src="/public/images/ydimg/goods.png" />
								</div>
								<div class="order-goods-detail">
									<p class="goods-title">澳洲JD谷饲150天安格斯保乐肩牛前胸肉格斯保乐肩牛前胸肉</p>
									<p class="origin">产地：加拿大</p>
									<span class="unit-price">￥<em>1530.00</em>／500g</span>
									<span class="number">×50</span>
								</div>
								<div style="clear: both;"></div>
							</li>							
							<li class="li-03">
								<div class="goods-img">
									<img src="/public/images/ydimg/goods.png" />
								</div>
								<div class="order-goods-detail">
									<p class="goods-title">澳洲JD谷饲150天安格斯保乐肩牛前胸肉格斯保乐肩牛前胸肉</p>
									<p class="origin">产地：加拿大</p>
									<span class="unit-price">￥<em>1530.00</em>／500g</span>
									<span class="number">×50</span>
								</div>
								<div style="clear: both;"></div>
							</li>							
						</ul>
						
						
					</li>
 					 
					
				</ul>
			</div>
		</div>
<!-- 切换 tab end-->
	</div>

 <{script src="mui/mui.min.js" app="wap" }>
</div>
<{wap_pagers data=$pager}>
<script>
function receive(url){
    var xmlHttp;
    try{
        xmlHttp=new XMLHttpRequest();        
    }catch(e){
        try{
            xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
        }catch(e){
            try{
                xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
            }catch(e){
                return false;
            }
        }
    }
    xmlHttp.open('post',url);
    xmlHttp.onreadystatechange = function () {
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
            alert('已完成收货');
            location.reload();
        }
    }
        xmlHttp.send(null);
}

(function(){
	
	$('.action-refund-popup').bind('click',function(e){
		var order_id = this.getAttribute("order_id");
	    new Dialog('#member_refund_popup_'+order_id,{title: '退款申请'});
	});
	
	$('.submit_refund_button').bind('click',function(e){
		var order_id = this.getAttribute("order_id");
        var refund_apply_reason = $('#refund_apply_reason_'+order_id+' option:selected').val();
        var data = 'order_id='+order_id+'&refund_apply_reason='+refund_apply_reason;
        $.post('<{link app=b2c ctl=wap_member act=do_refund_apply}>',data,function(re){
            var o = JSON.parse(re);
            if(o.success){
            	$(".dialog").hide();
                new Dialog('#success',{type: 'confirm'});
                $('#success .checkout-success').html(o.suc_msg);
                setTimeout(function(){location.reload(true)},2000);
            }else{
                return alert(o.err_msg);
            }
        });
        return false;
    });
	
})();

</script>
