 <{css src="mobile.css" app="wap"}>
<div class="full-screen">
    <header>
    <div class="a-bar">
        <a href="javascript:history.back()" class="a-back">
            <i class="arr left"></i>
            返回
        </a>    	
        <div class="a-name top-center-box">
            扫码结果
        </div>
    </div>

    </header>
     <div class="sweep-code-container">
     	<div class="detail-card">
     		<p><b>订单号：</b>181459875665454</p>
     		<p><b>应付金额：</b>￥1880.00</p>
     		<p><b>已付金额：</b>￥1880.00</p>
			<p><b>支付方式：</b>微信支付</p>
     		<p><b>付款状态：</b>已支付</p>
			<p><b>收货状态：</b>未收货</p>

     	</div>
 
     	
     </div>	
    	 
</div>